* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: floralwhite;
}

header {
    background-color: rgb(98, 197, 197);
    width: 100%;
    margin: 0;
    overflow: hidden;
    border: 5px;
    padding: 5px;
    padding-left: 20px;
}

.header {
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
header p {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 2em;
}

span {
    position: relative;
    left: 15px;
    top: 15px;
}

.nav {
    text-align: right;  
    padding: .5em;
    border: 1em;
}

a {
    padding: .75em;
}

#about {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

#bookmark1, #bookmark2 {
    display: block;
    font-size: 1.5em;
    position: relative;
    bottom: 60px; left: 30px;
}

aside {
    padding: 3em;
    border-right: 4px solid;
}

img {
    width: 10em;
    float:inline-start;
    padding-left: .5em;
}

.about::after {
    content: "img";
    clear: both;
    display: table;
}

.about {
    flex: wrap;
    direction: ltr;
    width: 50%;
    padding: 5px;
}


.work {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

img {
    width: 10em;
    float:inline-start;
    padding-left: .5em;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}



@media screen and (max-width: 414px) {
    nav ol li {
       display: block;
       direction: rtl;
       padding: 0.5em;
    }               
    
    header {
        text-align: center;
    }
    aside {
        justify-content:block;
        border-right: none;
        margin: .5em;
        padding: 2em;
    }
    .about {
        box-sizing: border-box;
        text-align: center;
    }
} 
